.container {
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    "current-info add-info add-info"
    "personal-info personal-info personal-info"; 
}
.current-info { 
  grid-area: current-info; 
  border: 1px solid red;
}
.add-info {
   grid-area: add-info; 
  border: 1px solid red;

  }
.personal-info { 
  grid-area: personal-info; 
  border: 1px solid red;
  
}