@import url("./components/scss/index.scss");
@font-face {
  font-family: Montserrat-regular;
  src: url(./sources/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-light;
  src: url(./sources/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-bold;
  src: url(./sources/fonts/Montserrat-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-regular", sans-serif;
}
span,h2{
  color: #fff;
  text-shadow: 1px 1px 4px black;
}
$grey: #2d2d2d;
$blue: #838383;

.container {
  padding: 20px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "current-info add-info add-info"
    "personal-info personal-info personal-info";
}
.container-warm{color: white;}
.container-cold{color: black}




@media(max-width:1280px){
  #add-info.add-info{
    .add-content-wrapper{
      width: 100%; 
    }
  }
  
}
@media(max-width:1100px){
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    padding: 5px;
    grid-template-areas:
    "current-info  add-info"
    "personal-info personal-info personal-info";

  }
  
}
@media (max-width: 860px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "current-info current-info"
      "add-info add-info"
      "personal-info personal-info";
  }


  .current-info {
    grid-area: current-info;
    height: 450px;
  }
  #add-info .add-info {
    grid-area: add-info;
    height: 450px;
  }
}
@media(max-width:640px){
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5px;
    grid-template-areas:
      "current-info current-info"
      "add-info add-info"
      "personal-info personal-info";

      #current-info.current-info{
        padding:15px 10px;
      }
      #add-info.add-info {
        grid-area: add-info;
        height: 450px;
        padding: 15px 10px;
        .add-content-wrapper{
          padding: 15px 20px 15px 70px;
        }
      }
      #personal-info.personal-info {
        grid-area: personal-info;
        .slider-wrapper {
          padding:  5px 10px;}
      }

      .clearStorageBtn-active{

        left: 20px;

      }
  }
}